<ul class="nav nav-tabs" id="myTab" role="tablist">
<% unless user_signed_in? %>
  <li class="nav-item">
    <a class="nav-link <%= need_current_tab_class?(controller_name == 'sessions') %>" id="login-tab" href="<%=new_user_session_path %>" role="tab" aria-controls="login" aria-selected="<%= need_current_tab_class?(controller_name == 'sessions') %>">Login In</a>
  </li>
  <li class="nav-item">
    <a class="nav-link <%= need_current_tab_class?(controller_name == 'registrations') %>" id="sign-up-tab" href="<%= new_user_registration_path %>" role="tab" aria-controls="sign-up" aria-selected="<%= need_current_tab_class?(controller_name == 'registrations')%>">Sign Up</a>
  </li>
  <li class="nav-item">
    <a class="nav-link <%= need_current_tab_class?(controller_name == 'passwords') %>%" id="forgot-password-tab" href="#forgot-password" role="tab" aria-controls="forgot-password" aria-selected="<%= need_current_tab_class?(controller_name == 'passwords') %>">Forget Password?</a>
  </li>
<% else %>
  <li class="nav-item">
    <%= link_to 'Dashboard', root_path, class: need_current_tab_class?(controller_name == 'dashboard'), id: "dashboard-in-tab", 'data-toggle': "tab", 'role': "tab", 'aria-controls': "sign-in"  %>
  </li>

  <li class="nav-item">
    <%= link_to 'Log Out', destroy_user_session_path, method: :delete, class: need_current_tab_class?(false), id: "log-out-tab", 'data-toggle': "tab", 'role': "tab", 'aria-controls': "log-out"  %>
  </li>
<% end %>
</ul>
