<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>

  <%= render  "shared/tabs" %>

  <div class="tab-content" id="sign-up-tab">
    <div class="tab-pane fade show active" id="sign-up" role="tabpanel" aria-labelledby="sign-up-tab">
      <div class="row">
        <div class="col-md-6 mb-3">
          <%= f.label :email %>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">@</span>
            </div>
            <%= f.email_field :email, autocomplete: "email", placeholder: 'emaail is required', required: '', class: 'form-control' %>
            <div class="invalid-feedback" style="width: 100%;">
              Your email is required.
            </div>
          </div>
        </div>
  
        <div class="col-md-6 mb-3">
          <%= f.label :instagram %>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">@</span>
            </div>
            <%= f.text_field :instagram, placeholder: 'your instagram is required', required: '', class: 'form-control' %>
            <div class="invalid-feedback" style="width: 100%;">
              Your email is required.
            </div>
          </div>
        </div>
      </div>
  
      <div class="row">
        <div class="col-md-6 mb-3">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "", required: '', value: '', class: 'form-control'%>
          <div class="invalid-feedback">
            Valid password is required.
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, autocomplete: "", required: '', value: '', class: 'form-control'%>
          <div class="invalid-feedback">
            Confirm your password, must be equal.
          </div>
        </div>
      </div>
      <hr class="mb-4">
      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="firstName">First name</label>
          <input type="text" class="form-control" id="firstName" placeholder="" value="" required="">
          <div class="invalid-feedback">
            Valid first name is required.
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <label for="lastName">Last name</label>
          <input type="text" class="form-control" id="lastName" placeholder="" value="" required="">
          <div class="invalid-feedback">
            Valid last name is required.
          </div>
        </div>
      </div>
      <button class="btn btn-info btn-lg btn-block" type="submit">
        <i class="fas fa-user-plus"></i>
        Sign Up
      </button>
  
  
  
  
  
      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>
  
      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>
  
      <div class="actions">
        <%= f.submit "Sign up" %>
      </div>
    </div>
  </div>
<% end %>